<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script th:src="@{js/main.js}" type="text/javascript" defer></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <title>SHOPPING LIST</title>
</head>
<body>
<a href="/" class="btn btn-light" type="button">home</a>
<h1>Users</h1>

<table th:if="${users}" class="table">
    <thead>
    <tr>
        <th scope="col"> UserName </th>
        <th scope="col"> E-mail </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}" scope="row">
        <td><span th:text="${user.login}"> Title </span></td>
        <td><span th:text="${user.email}"> Author </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>
